{% extends 'base_back.html.twig' %}

{% block body %}

    <div class="container flex flex-row min-h-100">

        {{ include('/components/sideBarAdmin.html.twig') }}

        <div class="flex flex-col mx-auto h-full mt-12 ml-32">

            <h1 class="text-3xl text-slate-800 mb-4 font-bold pb-5">Liste des Drivers</h1>

        </div>
    </div>


{% endblock %}

