{% extends 'base_back.html.twig' %}

{% block body %}

    <h1>Gestion des service de la morgue</h1>

    <ul>
        <li>
            <a href="#">Gérer les peintures</a>
        </li>
        <li>
            <a href="#">Gérer les matériaux</a>
        </li>
        <li>
            <a href="#">Gérer les themes souscrits auprès de Thanatos</a>
        </li>
        <li>
            <a href="#">Gérer les extras</a>
        </li>
        <li>
            <a href="{{ path("view_burials") }}">Gérer les Burials</a>
        </li>
        <li>
            <a href="#">Gérer les Modèles de burials</a>
        </li>
    </ul>

{% endblock %}
