* {
    box-sizing: border-box;
}

#formBurialOrderProduct input[type=radio].radioOrderService {
    display: none;
}

#formBurialOrderProduct input[type=radio].radioOrderService:checked + label .itemContent {
    border: 3px solid black;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

#formBurialOrderProduct input[type=radio]:checked + label .itemContent {
    transform: scale(1.25);
}

#formBurialOrderProduct label .itemContent {
    transition: transform 0.2s ease-in-out;
}