#formBurialOrderProduct input[type=radio].radioOrderService {
    display: none;
}

#formBurialOrderProduct input[type=radio].radioOrderService:checked + label .itemContent {
    border: 3px #818cf8 solid;
    border-radius: 10px;

}

#formBurialOrderProduct input[type=radio]:checked + label .itemContent {

}

#formBurialOrderProduct label .itemContent {
    transition: transform 1.2s ease-in-out;
}