{% extends 'base_back.html.twig' %}

{% block body %}

    <div class="flex flex-row min-h-100">

        {{ include('/components/sideBarAdmin.html.twig') }}


        <section class=" pt-4 mx-auto">
            <div class=" px-6 py-10 ">
                <h1 class="text-3xl font-semibold text-center text-gray-800 lg:text-4xl ">Tableau de bord
                    <span class="text-blue-500">Thanatos</span>
                </h1>

                <div class="mx-auto pt-10">
                    <p class="text-orange-600 text-xl text-center">Bientôt disponible !</p>
                   {# <div class="mx-auto w-[40rem] h-80 z-10 absolute" style="background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(251, 146, 60, 0.8) 28px, rgba(251, 146, 60, 0.8) 56px); background-color: rgba(18, 235, 212, 0);"></div>#}
                    <div class="mx-auto w-[40rem]">
                        <img src="{{ asset('images/chartJSimg.png') }}">
                    </div>

                </div>


            </div>
        </section>

    </div>


{% endblock %}
