{% extends 'base_front.html.twig' %}

{% block body %}

	<div class="p-5">
		<h1 class="text-4xl mb-3">
			Votre commande a bien été pris en compte !
		</h1>
		<a href="{{ path('homepage') }}">Retourner sur la page d'acceuil</a>
	</div>

{% endblock %}
