{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="bg-white white:bg-gray-900 pb-11">
        <div class="container px-6 mx-auto">
            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
                <div class="p-8 space-y-3 border-2 border-dark-400 white:border-dark-300 rounded-xl">
                        <span class="inline-block text-dark-500 white:text-dark-400">
                            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-width="2" stroke="#000" fill="none" stroke-linejoin="round"><path d="M10 17h6V6c0-1.11-.9-2-2-2H4c-1.11 0-2 .89-2 2v10c0 .55.44 1 1 1h1"></path><path d="M22 16v-4c0-2.21-1.8-4-4-4h-2v9h5c.55 0 1-.45 1-1Z"></path><path d="M15 17c0 1.65 1.34 3 3 3 1.65 0 3-1.35 3-3h-6Z"></path><path d="M22 14h-2"></path><path d="M7 14a3 3 0 1 0 0 6 3 3 0 1 0 0-6Z"></path></g></svg>
                        </span>

                    <h1 class="text-2xl font-semibold text-gray-700 capitalize white:text-white">Prendre une commande !</h1>

                    <p class="text-gray-500 white:text-gray-300">
                        Du petit Gregory à mamie, prenez une commande et soyez le plus rapide pour répondre au besoin des clients.
                    </p>

                    <a href="{{ path('driver_orders') }}" class="inline-flex p-2 text-dark-500 capitalize transition-colors duration-200 transform bg-dark-100 rounded-full white:bg-dark-500 white:text-white hover:underline hover:text-dark-600 white:hover:text-dark-500">
                        <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Démarrer une commande</button>
                    </a>
                </div>

                <div class="p-8 space-y-3 border-2 border-dark-400 white:border-dark-300 rounded-xl">
                        <span class="inline-block text-dark-500 white:text-dark-400">
                            <svg  xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                            </svg>
                        </span>
                    <h1 class="text-2xl font-semibold text-gray-700 capitalize white:text-white">Mon historique</h1>

                    <p class="text-gray-500 white:text-gray-300">
                        Retrouver tout votre historique de livraison réaliser chez Thanatos et faite vous votre propre rétrospective de vos trajets .
                    </p>
                    <a href="#" class="inline-flex p-2 text-dark-500 capitalize transition-colors duration-200 transform bg-dark-100 rounded-full white:bg-dark-500 white:text-white hover:underline hover:text-dark-600 white:hover:text-dark-500">
                        <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Voir l'historique</button>
                    </a>
                </div>

                <div class="p-8 space-y-3 border-2 border-dark-400 white:border-dark-300 rounded-xl">
                        <span class="inline-block text-dark-500 white:text-dark-400">
                            <svg class="w-8 h-8"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.68 3.6c.52-.66.02-1.61-.84-1.61h-6.72c-.38 0-.73.19-.91.5l-5.09 8.45c-.41.66.1 1.49.9 1.49h3.42L5.2 20.49c-.47 1.02.79 1.95 1.64 1.21l13.1-12.41H13.09l4.53-5.73Z"></path>
                            </svg>
                        </span>
                    <h1 class="text-2xl font-semibold text-gray-700 capitalize white:text-white">Voir mes statistiques</h1>
                    <p class="text-gray-500 white:text-gray-300">
                        Êtes vous performant ? Retrouver toutes vos statistiques en termes de commande, de distance ainsi que d'argent gagner.
                    </p>
                    <a href="#" class="inline-flex p-2 text-dark-500 capitalize transition-colors duration-200 transform bg-dark-100 rounded-full white:bg-dark-500 white:text-white hover:underline hover:text-dark-600 white:hover:text-dark-500">
                        <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Mes statistiques</button>
                    </a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
