<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Thanathos{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <script src="https://cdn.tailwindcss.com"></script>
            <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"/>
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body class="min-h-screen">
        {{ include('components/navBar/navBar.html.twig') }}

        <div class="absolute bottom-[0%] left-[20%] mb-4">
            {% for message in app.flashes("success") %}
                {% include 'components/toasts/success.html.twig' with {'message' : message} %}
            {% endfor %}
            {% for message in app.flashes("error") %}
                {% include 'components/toasts/error.html.twig' with {'message' : message} %}
            {% endfor %}
        </div>

        {% block body %}
        {% endblock %}
        <script src="{{ asset("js/toasts.js") }}"></script>
    </body>

    <footer>
    </footer>
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
</html>
