<div class="m-auto w-1/5 text-center mt-5 border-2 border-black rounded-2xl mb-10">
    <h1 class="text-xl"><span class="uppercase">{{ corpse.lastname }}</span> <span
                class="capitalize">{{ corpse.firstname }}</span></h1>
</div>