{% extends 'base_back.html.twig' %}

{% block body %}

    <h1>Ajouter un nouveau theme</h1>

    {{ form_start(form) }}

        <button type="submit">Ajouter</button>

    {{ form_end(form) }}





{% endblock %}
