{% extends 'base_front.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    {{ include('components/navBar.html.twig') }}

    <h1>Détail de la commande</h1>
    <div class="grid p-4">

        <div class="grid grid-cols-4 gap-3 bg-gray-700">
            <div class="bg-amber-100 col-span-4">
                <h1>Détail générale </h1>
            </div>

            <div class="bg-amber-100 col-span-4">
                <h1>Status </h1>
            </div>

            <div class="bg-amber-100 col-span-2">
                <h1>Cadavres</h1>
            </div>

            <div class="bg-amber-100 col-span-2">
                <h1>Adresses</h1>
            </div>

            <div class="bg-amber-100 col-span-4">
                <h1>Cerceuil</h1>
            </div>

            <div class="bg-amber-100 col-span-2">
                <h1>Factures</h1>

                <a href="#"
                   class="inline-flex items-center justify-center w-full px-5 py-3 text-base font-medium text-white bg-gradient-to-r from-gray-700 to-gray-900 hover:from-gray-600 hover:to-gray-600 sm:w-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span class="mx-2">
                            Télécharger
                            </span>
                </a>

            </div>
            <div class="bg-amber-100 col-span-1">
                <h1>Note / Commentaire</h1>

                Note en étoile

                <textarea id="message" rows="4"
                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="Leave a comment..."></textarea>

            </div>
        </div>

        <div class="grid grid-cols-4 ">


            <button type="button"
                    class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">
                Commander
            </button>
            <button type="button"
                    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                Annuler la commande
            </button>
        </div>
    </div>
{% endblock %}
